<form>
  <nb-layout windowMode="true">
    <nb-layout-column>
      <img src="../../../assets/oomzie.png" class="responsive" />
    </nb-layout-column>
    <nb-layout-column class="login-inputs-container">
      <input
        type="text"
        nbInput
        fullWidth
        fieldSize="large"
        placeholder="email"
      />
      <input
        type="password"
        nbInput
        fullWidth
        fieldSize="large"
        placeholder="password"
      />
      <button nbButton hero status="primary">Login</button>
    </nb-layout-column>
  </nb-layout>
</form>
