<mat-sidenav-container class="content">
  <mat-sidenav mode="side" opened>
    <mat-toolbar>
      <a routerLink="/main" routerLinkActive="active">OOMZIE</a>
    </mat-toolbar>
    <mat-action-list>
      <button mat-list-item routerLink="/main/library">
        <mat-icon matListIcon>library_music</mat-icon>
        <span matLine>LIBRARY</span>
      </button>
      <button mat-list-item routerLink="/main/upload">
        <mat-icon matListIcon>upload_file</mat-icon>
        <span matLine>UPLOAD</span>
      </button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
